@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Share+Tech&family=Share+Tech+Mono&display=swap');

:root {
	--border: 2px solid #ffffff;
	--base-margins: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'major mono display';
}

body {
	background-color: #040012;
	color: #ffffff;
	font-size: 16px;
	font-family: sans-serif;
	margin: auto;
	max-width: 1200px;
}
h1 {
	margin: var(--base-margins);
	border: var(--border);
	padding: var(--base-margins);
	text-align: center;
	font-size: 3em;
	font-family: 'major mono display', monospace;
}
h1 a {
	text-decoration: none;
}
main {
	box-sizing: margin-box;
	border: var(--border);
	margin: var(--base-margins);
}
p {
	font-size: 1.5em;
	font-family: monospace;
}
nav {
	border: var(--border);
	margin: var(--base-margins);
	font-family: 'major mono display', monospace;
}
ul#navlist {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li.navitem {
	flex-grow: 1;
	text-align: center;
	border-right: var(--border);
}
ul#navlist li:last-child {
	border-right: none;
}

a.navlink {
	padding: .5em 0;
	color: white;
	display: block;
	text-decoration: none;
	font-size: 1.5rem;
}

@media (max-width: 412px) {
	h1 {
		font-size: 11vw;
	}
}
@media (max-width: 630px) {
	a.navlink {
		font-size: 4vw;
	}
}
.small {
	font-size: 2px;
}